/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a {
  color: hsl(0, 0%, 0%);
  font: 500 1rem 'Roboto Mono', sans-serif;
  display: inline-flex;
  align-items: center;
}

p {
  line-height: 2rem;
  font: 500 1rem 'Roboto Mono', Sans-Serif;
}

.sidenav-trigger {
  color: hsl(43, 74%, 49%);
}

.parallax-container {
  min-height: 350px;
  line-height: 0;
  height: auto;
  color: hsl(0, 0%, 0%);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#logo-container img {
  height: 100px;
  left: 0px;
  margin-top: -15px;
}

.logo-menu {
  margin-left: 36%;
  margin-top: -8%;
  margin-bottom: -5%;
}

.logo-footer {
  margin-top: 3%;
  margin-bottom: -3%;
  margin-left: -12.5%;
}

.logo-report {
  width: 20%;
  margin-top: 50%;
  margin-bottom: -3%;
  margin-left: 12.5%;
}

.font_nome {
  font: 500 1rem 'Roboto Mono', Sans-Serif;
}

/*---------------------------------------   @MEDIA --------------------------------------------*/
@media (min-width: 1200px) {
  #logo-container img {
    height: 114px;
    left: 0px;
    margin-top: -17px;
  }
}
